html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: 'Handlee', cursive;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #ccc;
}

.game-options {
    width: 100%;
    height: 100%;
    position: fixed;
}

.font-sz {
    font-size: 1.5em;
}

.show {
    opacity: 1;
    z-index: 1;
}

.hide {
    opacity: 0;
    z-index: -1;
    display: none;
}

.menu {
    width: 100%;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1ebb1e;
    color: #ccc;
}

.menu-li {
    padding-left: 5vw;
    padding-right: 5vw;
    display: inline;
    border-right: 1px solid #ccc;
}

.menu-li:last-child {
    border-right: none;
}

.menu-li:hover {
    color: #fff;
    cursor: pointer;
}

.align-right {
    text-align: right;
}

.close-x {
    display: inline-block;
    font-family: sans-serif;
    margin:0;
    padding-right:20px;
    color: #1ebb1e;
}

.close-x:hover {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}


.players-li {
    display: inline;
}

.player-img {
    border: 2px solid #ccc;
    border-radius: 6px;
}

.player-img-hover {
    cursor: pointer;
    border: 2px dotted #1ebb1e;
    border-radius: 6px;
}

.player-selected {
    border: 2px solid #1ebb1e;
    border-radius: 6px;
}

.players-ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}


